@charset "UTF-8";

@font-face {
	font-family: sovietBoxBold;
	src: url(sovietBoxBold.ttf);
}

/* This code sets the margin to 0 so that there is no extra space around the canvas.*/
body {
	margin: 0;
	background-color: #000000;
}

/* This code shows the canvas.*/
/* Set the scroll bar display to "block."*/
canvas.show {
	display: block;
}

/* This code hides the canvas.*/
canvas.hide {
	display: none;
}

#gpBackground0{
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
}

#gpBackground1 {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 2;
}

#gpBackground2 {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 3;
}

#gpCanvas {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 4;
}

#tvBackground0{
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
}

#tvBackground1 {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 2;
}

#tvBackground2 {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 3;
}

#tvCanvas {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 4;
}
